@font-face {
  font-family: 'martelsans';
  src: url('../fonts/MartelSans-Regular.ttf');
}

@font-face {
  font-family: 'bariol';
  src: url('../fonts/Bariol_Bold.otf');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/MaterialIcons-Regular.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.btn-floating.btn-large i {
    line-height: 50px;
}

.btn-floating i {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    line-height: 35px;
}

.material-icons {
    vertical-align: bottom;
}
.carte-container {
  text-align:center;
  height:100%;
  width:100%;
}
.carte {
  height: 100%;
  position: absolute;
  width: 100%;
}

.carte-hover {
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  transform: rotateY(180deg);
}

.side {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}

.back {
  transform: rotateX(180deg);
}

.fadein {
  animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
